{% extends 'base.html.twig' %}

{% block title %}Carte{% endblock %}
{% block content %}
    <div class="row">
        {% for book in books %}
            <div class="col-md-3">
                {% embed 'book/components/book_card.html.twig' with {
                    book: book
                } %}{% endembed %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
