{% extends 'base.html.twig' %}

{% block title %} CONECTAT {% endblock %}
{% block content %}
<h3>Logged</h3>
    <form method="post">
    <input type="submit" name="logout" class="btn btn-primary" value="Logout">
    </form>
{% endblock %}