<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ book.name }}</h5>
        <p class="card-text">{{ book.description }}</p>
        <a href="#" class="card-link">{{ book.created|date("d/m/Y") }}</a>
    </div>
</div>