<div class="card">
    <div class="card-body">
        <h5 class="card-title">Editura: {{ publisher.id }}</h5>
        <p>Nume: {{ publisher.name}} </p>
        <a href="/publisher/delete?id={{ publisher.id }}" class="btn btn-sm btn-danger">Delete</a>
        <a href="/publisher/edit?id={{ publisher.id }}" class="btn btn-sm btn-danger">Edit</a>
    </div>
</div>