{% extends 'base.html.twig' %}

{% block title %} CONECTAT {% endblock %}
{% block content %}
<h3>Hello, {{ user.email }}</h3>
    <a href="/logout">Logout</a>
    <a href="/books">Books</a>
    <a href="/authors">Authors</a>
    <a href="/publishers">Publishers</a>
{% endblock %}